<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgather.mapper.DfUpBgInkThicknessMapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgather.domain.DfUpBgInkThickness">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="factory" column="factory" jdbcType="VARCHAR"/>
            <result property="project" column="project" jdbcType="VARCHAR"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
            <result property="stage" column="stage" jdbcType="VARCHAR"/>
            <result property="testDate" column="test_date" jdbcType="VARCHAR"/>
            <result property="coatingLayers" column="coating_layers" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="testTime" column="test_time" jdbcType="VARCHAR"/>
            <result property="trueValue" column="true_value" jdbcType="VARCHAR"/>
            <result property="machineCode" column="machine_code" jdbcType="VARCHAR"/>
            <result property="point1" column="point1" jdbcType="VARCHAR"/>
            <result property="ponit2" column="ponit2" jdbcType="VARCHAR"/>
            <result property="point3" column="point3" jdbcType="VARCHAR"/>
            <result property="platform" column="platform" jdbcType="VARCHAR"/>
            <result property="uploadName" column="upload_name" jdbcType="VARCHAR"/>
            <result property="batchId" column="batch_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,factory,project,
        color,stage,test_date,
        coating_layers,state,test_time,
        true_value,machine_code,point1,
        ponit2,point3,platform,
        upload_name,batch_id
    </sql>
</mapper>
